{
	"presets" : [
		"env"
	],
	"plugins" : [
		["prismjs", {
			"languages": ["javascript", "less", "css", "bash", "html"],
			"plugins": ["line-numbers"],
			"theme": "twilight",
			"css": true
		}]
	]
}