// ----------------------------------------------------------------------
// MODIFIER STYLES
// Apply to elements to override default styling
// ----------------------------------------------------------------------

// REMOVE THE BORDER
.borderless {
	border: 0 !important;
}

// CLEARFIX
.clearfix {
	&::after {
		clear: both;
		content: ' ';
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
}

// FILL THE RELATIVE PARENT
.cover {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

// DISPLAY ELEMENTS
// Remove an element
.remove,
.none {
	display: none;
}
// Hide an object
.hidden {
	visibility: hidden;
}
// Make an object invisible
.invisible {
	opacity: 0;
}

// JUSTIFICATION
.justify-left {
	text-align: left !important;
}
.justify-right {
	text-align: right !important;
}
.center {
	text-align: center !important;
}
.flex-start {
	justify-content: flex-start;
}
.flex-center {
	justify-content: center;
}
.flex-end {
	justify-content: flex-end;
}
.flex-between {
	justify-content: space-between;
}
.flex-around {
	justify-content: space-around;
}
.flex-evenly {
	justify-content: space-evenly;
}