// ----------------------------------------------------------------------
// TABLE STYLES
// ----------------------------------------------------------------------

.table-wrapper {
	overflow-x: auto;
	overflow-y: visible;
	position: relative;
}

// Table reset
table {
	background-color: @table-bkg-color;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;

	> caption {
		font-size: @table-font-size;
		min-height: @table-cell-height;
		padding: @table-cell-padding;
		vertical-align: middle;
	}
 
	> thead > tr > th,
	> tbody > tr > td {
		line-height: @line-height;
		min-height: @table-cell-height;
		padding: @table-cell-padding;
		vertical-align: top;

		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		&.xs { width: 80px; }
		&.s  { width: 160px; }
		&.m  { width: 320px; }
		&.l  { width: 640px; }
		&.xl { width: 960px; }
	}
 
	> thead > tr > th {
		background-color: @table-head-bkg-color;
		color: @table-head-text-color;
		font-size: @table-font-size;
		font-weight: bold;
	}
 
	> tbody > tr {
		> td {
			font-size: @table-font-size;

			// Table cells that have inputs as content
			&.no-padding {
				padding: 0;
			}
		}

		&:hover > td {
			background-color: @table-row-hover-color;
		}
	}

	tr, td {
		border-collapse: collapse;

		&.center {
			text-align: center !important;
		}
		&.right {
			text-align: right !important;
		}
		&.number {
			font-family: @font-mono !important;
			text-align: right;
		}

		&.raw {
			padding: 0;

			.nested {
				border-top: 1px dotted @table-body-border-color;
				padding: @table-cell-padding;

				&:first-child {
					border-top: none;
				}
			}
		}
	}
}
 
// Striping
table.striped > tbody > tr:nth-child(2n-1) > td {
	background-color: @table-row-alt-color;
}

// Rounding
table.rounded {
	> thead > tr:first-child {
		> th:first-child {
			border-radius: @table-radius 0 0 0;
		}
		> th:last-child {
			border-radius: 0 @table-radius 0 0;
		}
	}

	> tbody > tr:last-child {
		> td:first-child {
			border-radius: 0 0 0 @table-radius;
		}
		> td:last-child {
			border-radius: 0 0 @table-radius 0;
		}
	}
}

// Bordered
table.bordered {
	> thead > tr > th {
		border: @table-border-stroke solid @table-head-border-color;
		border-left: 0;

		&:first-child {
			border-left: @table-border-stroke solid @table-head-border-color;
		}
	}

	> thead.borderless > tr > th {
		border: 0;
	}
 
	> tbody > tr > td {
		border: @table-border-stroke solid @table-body-border-color;
		border-left: 0;
		border-top: 0;

		&:first-child {
			border-left: @table-border-stroke solid @table-body-border-color;
		}
	}
}