// ----------------------------------------------------------------------
// TEXT STYLES
// ----------------------------------------------------------------------

html,
body {
	color: @text-color;
	font-family: @body-font;
	font-size: @font-size;
}

p {
	line-height: @line-height;
	margin-bottom: 1em;

	&.lead {
		font-size: 1.25em;
	}
}

h1 {
	font-family: @heading-font;
	font-size: @font-size-h1;
	margin-bottom: 1rem;
}

h2 {
	font-family: @heading-font;
	font-size: @font-size-h2;
	margin: 1em 0 1rem;
}

h3 {
	font-family: @heading-font;
	font-size: @font-size-h3;
	margin: 1em 0 1rem;
}

h4 {
	font-size: @font-size-h4;
	margin: 1em 0 0.5rem;
}

.mobile({
	h1 {
		font-size: @font-size-h1 * 0.75;
	}
	h2 {
		font-size: @font-size-h2 * 0.75;
	}
	h3 {
		font-size: @font-size-h3 * 0.875;
	}
});

h1, h2, h3, h4 {
	color: @text-color;
	line-height: 1.25em;

	&:first-child {
		margin-top: 0;
	}
}

hr {
	border: 0;
	border-top: 1px solid @gray-15;
	height: 0;
	margin: 1em 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.larger {
	font-size: @font-size-large;
}

.smaller {
	font-size: @font-size-small;
}

.smallcaps {
	font-size: @font-size-small;
	text-transform: uppercase;
}

abbr {
	border-bottom: 1px dotted;
	cursor: help;
}


// ----------------------------------------------------------------------
// LINKS

a {
	color: @color-primary;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		border-bottom: 1px dashed @color-primary;
		box-shadow: none;
		outline: none;
	}

	&:active {
		color: darken(@color-primary, 5%) !important;
	}
}

// END LINKS
// ----------------------------------------------------------------------


// ----------------------------------------------------------------------
// BLOCK QUOTES

blockquote {
	font-family: @serif-font;
	font-size: @font-size-large;
	font-style: italic;
	line-height: @line-height;
	margin-left: 2em;
}

// END BLOCK QUOTES
// ----------------------------------------------------------------------


// ----------------------------------------------------------------------
// LISTS

// Nested lists
ul, ol {
	line-height: @line-height;
}

ul, ol {
	> ul, > ol {
		margin-left: 1.5em;
	}
}

// Bulleted lists
ul.bulleted {
	list-style: disc inside none;

	> ul {
		list-style-type: circle;
	}
}

// Numbered lists
ol.numbered {
	list-style: decimal inside none;

	> ol {
		list-style-type: lower-alpha;
		margin-left: 2.5em;
	}
}

// Definition lists
dl {
	line-height: @line-height;

	dt {
		clear: left;
		float: left;
		margin-right: 1em;
		text-align: right;
		width: 25%;
	}

	dd {
		clear: right;
		float: left;
		margin-bottom: 1em;
		width: 70%;
	}

	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

// END LISTS
// ----------------------------------------------------------------------


// ----------------------------------------------------------------------
// CODE BLOCKS

code {
	background-color: @gray-05;
	border-radius: 3px;
	color: @gray-50;
	display: inline-block;
	font-family: @mono-font;
	font-size: @font-size-small;
	padding: 0 0.35em;
}

pre {
	white-space: pre;

	code {
		display: block;
		line-height: @line-height;
		overflow-x: auto;
		padding: 1em;
	}
}

// END CODE BLOCKS
// ----------------------------------------------------------------------